<div class="container">
<form [formGroup]="ressourceForm" (ngSubmit)="onSubmit(ressourceForm.value)">

  <div>
    <label for="Marque">
      Marque
    </label>
    <input id="marque" type="text" formControlName="marque">
  </div>

  <div>
    <label for="date_sortie">
      Age
    </label>
    <input id="date_sortie" type="text" formControlName="date_sortie">
  </div>

  <div>
    <label for="category">
      Category
    </label>
    <input id="category" type="text" formControlName="category">
  </div>

  <button class="button" type="submit">Créer ressource</button>

</form>
</div>